h1{
    color: white;
    font-size: 20px;
    margin: 50px auto 30px auto;
    width: 95%;
}

table{
    width: 95%;
    margin: auto;
    background-color: white;
    thead{
        
        th{
            color: black;
            padding: 10px 20px;
            border-bottom: 1px solid rgba(202, 196, 196, 0.5);
            font-size: 12px;
            cursor: pointer;
        }
    }
    tbody{
        tr{
            border-bottom: 1px solid rgba(202, 196, 196, 0.5);
            .img-name-container{
                display: flex;
                align-items: center;
                .img-container{
                    margin-right: 10px;
                }
            }
            td{
                color: black;
                padding: 12px 20px;
                font-size: 12px;
                font-weight: 600;
                .name-container{
                    p{
                        margin-bottom: 0;
                        a{
                            text-decoration: none;
                            color: white;
                        }
                    }
                    .coin-name{
                        font-size: 10px;
                        font-weight: 600;
                        color: rgb(112, 110, 110);
                    }
                }
                .fa-star{
                    cursor: pointer;
                    
                }
                .trading-btn{
                    button{
                        padding: 5px 20px;
                        background-color: #1199fa;
                        border-radius: 5px;
                        border: none;
                        a{
                            text-decoration: none;
                            color: white;
                        }
                        &:focus{
                            padding: 4px 18px;
                        }
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
            }
            &:hover{
                background-color: rgba(105, 103, 103, 0.329);
                cursor: pointer;
            }
        }
    }
}


//Responsive Area
@media screen and (max-width:575px) {
    table{

        tbody{
            tr{
                .mc-data{
                    display: none;
                }
            }
        }
        
        thead{
            .mc-data-heading{
                display: none;
            }
        }
    }
}

@media screen and (max-width:434px) {
    table{
        tbody{
            tr{
                td{
                    padding: 12px 10px;
                    font-size: 10px !important;
                }
                .trading-btn{
                    button{
                        padding: 3px 10px;
                        &:focus{
                            padding: 2px 8px;
                        }
                    }
                }
            }
        }
        thead{
            th{
                padding: 10px 10px;
            }
        }
    }
}

@media screen and (max-width:379px) {
    table{
        tbody{
            tr{
                td{
                    padding: 12px 3px;
                }
                .trading-btn{
                    button{
                        padding: 3px 10px;
                        &:focus{
                            padding: 2px 8px;
                        }
                    }
                }
            }
        }
        thead{
            th{
                padding: 10px 10px;
            }
        }
    }
}